<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>EventGridMonitor</title>

        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script>hljs.initHighlightingOnLoad();</script>
        
        <!-- development version, includes helpful console warnings -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="https://unpkg.com/vue"></script>
        <script src="/static/js/azure-storage.queue.min.js"></script>
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    </head>
    <body>
        <div id="app">
            <b-container>
                <b-jumbotron header="Azure Event Viewer" leader="">
                    <p>some sort of info printed here</p>
                    <b-form-group
                        id="fieldset1"
                        description="Connection String"
                        label="Enter your connection string"
                        label-for="connectionstring"
                    >
                        <b-form-input id="connectionstring" v-model="connectionstring"></b-form-input>
                    </b-form-group>
                    <b-form-group
                        id="fieldset2"
                        description="Queue Name"
                        label="Enter your queue name"
                        label-for="queue"
                    >
                    <b-form-input id="queue" v-model="queue"></b-form-input>
                </b-form-group>
                    <b-button variant="primary"v-on:click="start">Start</b-button>
                    <b-button variant="danger" v-on:click="stop">Stop</b-button>
                </b-jumbotron>
            </b-container>
            <b-container>
                <b-card-group>
                    <event-item 
                        v-for="item in eventList"
                        v-bind:event="item"
                        v-bind:key="item.id">
                    </event-item>
                </b-card-group>
            </b-container>
        </div>
        <script>
            window.app = new Vue({
                el: "#app",
                data: {
                    connectionstring: 'connectionstring',
                    queue: 'queue',
                    eventList: [ ],
                },
                methods: {
                    start: function() {startEventListener();},
                    stop: function() {stopEventListener();}
                }
            })

            Vue.component('event-item', {
                props: ['event'],
                template: `
                <b-card no-body  >
                    <h4 v-b-toggle="event.id" class="card-title">{{event.id}}</h4>
                    <b-collapse :id="event.id">
                        <pre><code class="hljs json">{{ event }}</code></pre>
                    </b-collapse>
                </b-card>
                `
            })
/*
            var events = new Vue({
                el: '#events',
                data: {
                    eventList: [ ]
                }
            })
*/

            var currentBackoff = 0;
            var maximumBackoff = 10;
            var stopListening = false;
            var queueService;
            var encoder = new AzureStorage.Queue.QueueMessageEncoder.TextBase64QueueMessageEncoder();
            var timer;

            function startEventListener() {
                queueService = AzureStorage.Queue.createQueueService(app.connectionstring);
                getEvents();
            }

            function stopEventListener() {
                stopListening = true;
            }

            function getEvents() {
                if (stopListening != true) {
                    queueService.getMessages(app.queue, {numOfMessages:32},function(error, messages, response) {
                        if(!error){
                            if (messages.length>0) {
                                // Reset backoff
                                currentBackoff = 0;

                                for (message in messages) {
                                    app.eventList.push(JSON.parse(messages[message].messageText));
                                    queueService.deleteMessage(app.queue, messages[message].messageId, messages[message].popReceipt, function(error, response) {
                                        if (!error) {
                                            //message deleted
                                        }
                                    });
                                }
                            } else {
                                if (currentBackoff < maximumBackoff)
                                {
                                    currentBackoff++;
                                }
                            }
                            timer = setTimeout(getEvents,currentBackoff*1000);
                        }
                    });
                    stopListening = false;
                }
            }



        </script>
    </body>
</html>
